.course__card {
    margin-bottom: 1.5rem !important;
    border-radius: 0 !important;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    border: none !important;
}

.opinion {
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 0px 3px 2px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 3px 2px -2px rgba(0,0,0,0.75);
        box-shadow: 0px 3px 2px -2px rgba(0,0,0,0.75);
}

.fixed-button {
    bottom: 20px;
    left: calc(50% - 100px);
    position: fixed;
    
    text-transform: uppercase;
}


.fixed-button:hover {
    cursor: pointer;
    background: #B23227;
}


.opinion:last-child {
    -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
}

.opinion__image img {
    border: 1px solid rgba(0, 0, 0, 0.246);
}

@media screen and (min-width: 1001px) {
    .opinion {
        padding-top: 1rem;
        padding-bottom: 1rem;
        align-items: center;
    }

    .opinion__content {
        padding: 0.5rem 1rem;
    }

    .opinion__image {
        min-width: 300px;
        max-width: 300px;
    }
    .opinion__image img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


@media screen and (max-width: 1000px) {
    .opinion {
        flex-direction: column;
        justify-content: center;
        padding: 1.5rem 0.5rem;
        min-height: 420px;
    }

    .opinion__content {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .opinion h5 {
        text-align: center;
        margin-top: 1.5rem;
    }

    .opinion p {
        text-align: justify;
        font-style: italic;
        line-height: 18px;
    }

    .opinion__content__stars {
        display: flex;
        justify-content: center;
        margin-bottom: 0.5rem;
    }

    .opinion__image img {
        max-width: 50%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.offert__stars b{
    margin-right: 6px;
}