body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  margin-left: .5rem;
  color: white;
}

a:hover {
  text-decoration: none;
  color: #007bff;
}

.nav-item {
  color: white;
  margin-left: 1em;
}

.main {
  margin-top: 6rem;
}

.flexible {
  display: flex;
}

.flexible-column {
  flex-direction: column;
}

.flexible-horizontal-center {
  align-items: center;
}

.flexible-vertical-center {
  justify-content: center;
}

.flexible-vertical-space-around {
  justify-content: space-around;
}

.flexible-vertical-space-between {
  justify-content: space-between;
}

.section {
  padding-top: 1em;
}

.card-title {
 padding: 0.75rem;
 /* background: #343A40;
 color: white; */
}

.card-title h3 {
  border-bottom: 1px solid #343A40;
  padding-left: 0.5rem;
  padding-bottom: 10px;
}

.card-img-top {
  border-radius: 0 !important;
}

.card-body {
  padding-top: 0.5rem !important;
}

.card-footer {
  border-radius: 0 !important;
}

.card-footer button{
  margin-left: .5rem;
}

.custom-container {
  max-width: 1200px;
  width: 100%;
}

nav {
  width: 100%;
  padding-right: 1.5rem !important;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

.sticky-nav-top {
  position: fixed !important;
  top: 0 !important;
  width: 100vw;
  z-index: 100;
}

.google-button {
  background: #DB4437;
  border: none;
  padding: 0.5rem 1rem;
}

.google-button:hover {
  background: #B23227;
}

.google-button svg {
  margin-right: 8px;
}

.starses {
  position: relative;
  top: -2px;
  margin-left: 0.5rem;
}

.footer {
  background: #343A40;
  color: white;
  -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
margin-top: 4rem;
}

.footer .row:first-child {
  padding: 2rem 1rem;
  border-bottom: 2px solid white
}

.footer .row:first-child .col-sm-12:first-child {
  margin-bottom: 20px;
}

.footer p {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  text-align: center;
}

.footer ul {
  margin-bottom: 1.2rem;
}

.blue {
  color: #007bff;
}

@media screen and (max-width: 768px) {
  nav {
    font-size: 1.1rem;
  }
  nav a {
    text-align: left;
    margin-left: 0;
  }
  .navbar-nav {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid white;
  }
}