.video-card {
    margin-bottom: 1.5rem !important;
    border: none !important;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    max-width: 800px;
}

.card-body-custom {
    padding: 1rem 2.5rem;
    padding-bottom: 2rem;
}